.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 240px);
  row-gap: 10px;
  column-gap: 0px;
  list-style-type: none;
  padding: 0;

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(4, 240px);
  }

  @media screen and (max-width: 980px) {
    grid-template-columns: repeat(3, 250px);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 250px);
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 100%);
    justify-items: center;
  }
}
